<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="transformationRules" type="DupCheckEncoding.Import.Configuration.TransformationRuleGroup, DupCheckEncoding.Import">
			<section name="InitialsTransformationRule" type="DupCheckEncoding.Import.Configuration.TransformationRule, DupCheckEncoding.Import" />	
			<section name="BirthDateTransformationRule" type="DupCheckEncoding.Import.Configuration.TransformationRule, DupCheckEncoding.Import" />	
		</sectionGroup>		
	</configSections>	
	<transformationRules>
			<InitialsTransformationRule transformationType="Initials" sourceField="INIT">
					<targetFields>
						<add name="field1" value="first_initial"/>
						<add name="field2" value="middle_initial"/>
						<add name="field3" value="last_initial"/>
					</targetFields>
			</InitialsTransformationRule>		
			<BirthDateTransformationRule transformationType="Date" sourceField="BRTHDTC" separator="-">
				<targetFields>
					<add name="field1" value="birth_y"/>
					<add name="field2" value="birth_m"/>
					<add name="field3" value="birth_d"/>
				</targetFields>
			</BirthDateTransformationRule>
	</transformationRules>
	<appSettings>
		<add key="NonEncryptedFields" value="urid, pid, city_site, country_site, postal_code_site, state_site"/>
		<add key="ColumnSeparator" value="," />	
		<add key="VersionDate" value="02-Oct-2013" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
