<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="NonEncryptedFields" value="urid, pid, city_site, country_site, postal_code_site, state_site"/>
		<add key="ColumnSeparator" value="," />	
		<add key="VersionDate" value="02-Oct-2013" />
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
